@import "colors.css";

* {
    font-family: Hack Nerd Font, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 10pt;
}

window#waybar {
    background-color: transparent;
    border-bottom: none;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: 500ms;
}

.modules-left,
.modules-right {
    background-color: @polar0;
    border-radius: 24px;
    margin-top: 4pt;
    border: none;
    background-color: transparent;
}

.modules-left {
    margin-left: 8pt;
}

.modules-right {
    margin-right: 8pt;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
    padding: 4pt;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#bluetooth,
#pulseaudio,
#custom-media,
#tray,
#mpd,
#custom-do-not-disturb,
#custom-packages,
#custom-power {
    color: @snow2;
    padding: 0 8px;
    background-color: @polar0;
}

#custom-power {
    background-color: @red;
	margin-left: 12px;
    padding: 0 8pt 0 11pt;
	border-radius:9999px;
    color: @snow1;
}

#battery {
    padding: 0 8px;
}

#clock {
    padding: 0 10pt 0 8px;
    border-radius: 0 9999px 9999px 0;
}

#battery.warning:not(.charging),
#battery.critical:not(.charging) {
    background-color: @red;
    color: @snow1;
    padding-left: 10pt;
    padding-right: 11pt;
}

@keyframes blink {
    to {
        background-color: @polar0;
        color: @red;
    }
}

#battery.critical:not(.charging) {
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: steps(24); /* Using steps() instead of linear as a timing function to limit cpu usage */
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-packages {
    color: @purple;
}

#custom-do-not-disturb {
    color: @frost2;
}

#custom-do-not-disturb.enabled {
    color: @red;
}

#custom-do-not-disturb.unavailable {
    color: @polar3;
}

#cpu,
#memory,
#disk {
    color: @frost1;
}

#temperature {
    color: @yellow;
}

#temperature.cpu {
    color: @yellow;
}

#temperature.gpu {
    color: @green;
}

#temperature.critical {
    color: @red;
}

#network {
    color: @frost3;
}

#network.disconnected {
    color: @red;
}

#bluetooth {
    color: @frost2;
}

#bluetooth.disabled,
#bluetooth.off {
    color: @red;
}

#custom-placeholder {
    border-radius: 24px 0px 0px 24px;
    background-color: @polar0;
    padding-right: 8px;
}

#mpd {
    border-radius: 24px;
    padding: 0 20px;
    margin-right: 16px;

    transition-property: background-color;
    transition-duration: 500ms;
}

#mpd.playing {
    background-color: @frost1;
    color: @polar0;
    background: linear-gradient(-45deg, @frost1, @frost3, @frost0, @frost2);
	background-size: 300% 300%;
}

#workspaces {
    background-color: @polar0;
    border-radius: 24px;
    padding: 2px;
}

#workspaces button {
    font-weight: 600;
    min-width: 34px;
    padding: 2px 8pt;
    background-color: transparent;
    color: @frost1;
    border-radius: 24px;
    transition-property: background-color, color;
    transition-duration: 180ms;
}

#workspaces button.active {
    background-color: @frost1;
    color: @polar0;
    box-shadow: none;
}

#workspaces button:hover {
    background-color: @polar1;
    color: @frost1;
    box-shadow: none;
}

#workspaces button.active:hover {
    background-color: @frost1;
    color: @polar0;
}

#tray {
    margin: 0 16px;
    padding: 0 12pt;
    border-radius: 24px;
}

/* #privacy { */
/*     padding: 0; */
/* } */

/* #privacy-item { */
/*     padding: 0 5px; */
/*     color: white; */
/* } */

/* #privacy-item.screenshare { */
/*     background-color: #cf5700; */
/* } */

/* #privacy-item.audio-in { */
/*     background-color: #1ca000; */
/* } */

/* #privacy-item.audio-out { */
/*     background-color: #0069d4; */
/* } */
